body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/6578fae6-d7e4-43c9-b8c9-ad92c66bca16/dcxlp7h-5a6ad507-1b0f-4db2-bef2-5a5c9e832bef.jpg/v1/fill/w_729,h_1096,q_70,strp/trippy_mountains_by_ibroninja_dcxlp7h-pre.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header.page-header h1 {
    color: lightskyblue;
    text-shadow: 2px 2px 5px black;
    font-family: monospace;
    font-size: 70px;
}

form.page-form h1 {
    color: lightskyblue;
    text-shadow: 2px 2px 5px black;
    font-family: monospace;
    font-size: 70px;
}

p.statement {
    color: rgb(168, 105, 255);
}

h3.hello:hover {
    color: black;
    font-size: 30px;
    transform: scale(2.0);
}

p.quote {
    color:  rgb(168, 105, 255);
    font-size: 25px;
    font-family: cursive;
}